<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Яндекс Карты</title>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <style>
        #map {
            width: 100%;
            height: 500px;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>
        ymaps.ready(init);
        var myMap;
        var currentPlacemark;

        function init() {
            myMap = new ymaps.Map("map", {
                center: [55.7558, 37.6173],
                zoom: 10
            });

            myMap.events.add('click', function (e) {
                var coords = e.get('coords');
                addPlacemark(coords);
            });
        }

        function addPlacemark(coords) {
            if (currentPlacemark) {
                myMap.geoObjects.remove(currentPlacemark);
            }

            currentPlacemark = new ymaps.Placemark(coords, {
                balloonContent: 'Точка на карте'
            });

            myMap.geoObjects.add(currentPlacemark);
        }
    </script>
</body>
</html>